
  <h3>Here are our blogs</h3>
  <div class="blog_post">
  <%@posts.each do |post|%>

  
   <p>Title: <span class="title"><a href="/posts/<%=post.id%>"><%=post.title%></a></span></p><br>
   <p>Content: <br><br><span class="content"><%=post.content%></span></p><br>
   <p>Author: <br><br><a href="/users/<%=post.user.id%>"><%=post.user.name%></a></p>
   <h5>Tags</h5>
   <%post.tags.each do |tag|%>
   <p>Tags:<p>
   <form action="/tags/<%=tag.id%>" method="get"> 
    <input class="button" type="submit" value="<%=tag.name%>">
   </form>
   
   
   <%end%>
   <%end%>

  </div>
