
  <h2>Title: <br><span class="title"><%=@post.title%></span></h2>
  <h3>Author: <br><span class="title"><a href="/users/<%=@post.user_id%>"><%=@post.user.name%></span></a></h3>
  <p>Content: <span class="content"><%=@post.content%></span></p>
  <br>
  <h3>Tags</h3>
  <%@post.tags.each do |tag|%>
  
  
  <form class="button_form" action="/tags/<%=tag.id%>" method="get"> 
    <input class="button" type="submit" value="<%=tag.name%>">
   </form>
  <%end%>
  <%if logged_in?%>
  <%if current_user.id == @post.user_id%>
  <div class="form_buttons">
  <ul>
  <li><form action="/edit/<%=@post.id%>" method="get">
    <input class="dir_button" type="submit" value="Edit this post!">
  </form></li>
  <li><form action="/posts/delete/<%=@post.id%>" method="get">
    <input class="dir_button" type="submit" value="Delete this post!">
  </form></li>
  
  <%end%>
  <br>
  <br>
  <form action="/tags/add_tag/<%=@post.id%>" method="get">
    <input class="dir_button" type="submit" value="Tag this post!">
  </form>
  </ul>
</div>
  <%end%>

